body{
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 700px auto;
}
#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}
#gameWindow{
    width: 700px;
    height: 700px;
    background-color: blue;
    grid-row-start:2;
    grid-column-start: 2;
    position: relative;
}
#mainCharacter{
    left: 92px;
    top: 402px;
    transition: all 1s ease-out;
}
.gameObject{
    position: absolute;
}
.foreground{
    z-index: 2;
}
.gameCharacter{
    z-index: 1;
}
.background{
    z-index: 0;
}
#tree1{
    width: 57px;
    height: 71px;
    left: 13px;
    top: 446px;
}
#door{
    width: 25px;
    height: 30px;
    left: 86px;
    top: 364px;
    background-color: #fff;
}